

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 60px;
    padding-bottom: 40px;
    min-width: 768px;
}

.from {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis
}
















